### These files should get ignored no matter where they appear.

autom4te.cache
config.in~

INSTALL
Makefile.in
aclocal.m4
compile
config.guess
config.sub
configure
cxx/Makefile.in
demos/Makefile.in
demos/calc/Makefile.in
demos/expr/Makefile.in
doc/Makefile.in
doc/mdate-sh
doc/texinfo.tex
install-sh
ltmain.sh
missing
mpf/Makefile.in
mpn/Makefile.in
mpq/Makefile.in
mpz/Makefile.in
printf/Makefile.in
rand/Makefile.in
scanf/Makefile.in
test-driver
tests/Makefile.in
tests/cxx/Makefile.in
tests/devel/Makefile.in
tests/misc/Makefile.in
tests/mpf/Makefile.in
tests/mpn/Makefile.in
tests/mpq/Makefile.in
tests/mpz/Makefile.in
tests/rand/Makefile.in
tune/Makefile.in
ylwrap

